.form {
  flex: 1;
  width: calc(100% - 336px);
  box-sizing: border-box;
  position: relative;
}
.form__header {
  position: sticky;
  top: 48px;
  z-index: 100;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: white;
}
.form__header_shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}

.form__body {
  padding-bottom: 16px;
}

.form__header-block {
  display: flex;
  height: 32px;
  align-items: center;
}

.form__header-block_left {
  gap: 16px;
}
.form__header-block_right {
  gap: 4px;
}
.form__title-button {
  margin: 0;

  font-size: 20px;
  font-weight: 400;
}
.form__title {
  margin: 0 16px 24px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.3px;
}
.overflow-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form__button {
  min-width: 101px;
  height: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 6px 12px;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}
.form__button_outline {
  background: white;
  border: 1px #d5d8dd solid;
  color: #2e3238;
}
.form__button_fill {
  color: white;
  background: #0078cf;
  border: none;
}

.form__blocks {
  display: grid;
  margin: 0 16px;
  grid-template-columns: calc(50% - 8px) calc(50% - 8px);
  gap: 16px;
}

@media (max-width: 991px) {
  .form__blocks {
    grid-template-columns: 100%;
  }
  .form {
    width: calc(100vw - 56px);
  }
}

@media (max-width: 767px) {
  .form__header-block_right {
    display: none;
  }
  .form__header-block_left {
    flex: 1 1 auto;
    justify-content: space-between;
  }
}
