.input-for-block__label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}
.input-for-block__block {
  display: flex;
  gap: 4px;
}
.input-for-block__tags {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border: var(--border-for-block);
  width: 100%;
  background: #fcfcfd;
  border-radius: 4px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 4px 30px 4px 4px;
}
.input-for-block__tags-clear {
  width: 16px;
  height: 16px;
  background: url(/layout/images/clear.svg) no-repeat center;
  border: none;
  position: absolute;
  right: 8px;
  top: 7px;
  cursor: pointer;
}

.input-for-block__tag {
  align-items: center;
  background: #e5f4ff;
  border: 1px #99d5ff solid;
  padding: 0 8px;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0;
  line-height: 20px;
  letter-spacing: 0.35px;
  max-width: 100%; 
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.input-for-block__remove-tag {
  margin-left: 8px;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  background: url(/layout/images/delete.svg) no-repeat center;
  border: none;
  cursor: pointer;
  transform: translateY(2px);
}

.input-for-block__button {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: var(--border-for-block);
  border-radius: 4px;
  background: white;
  cursor: pointer;
}

.input-for-block__button_plus {
  background: url(/layout/images/plus.svg) no-repeat center;
}
.input-for-block__button_search {
  background: url(/layout/images/search-black.svg) no-repeat center;
}
.input-for-block__button:hover {
  opacity: 0.7;
}
