.input-search {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: var(--border-for-block);
  border-radius: 10px;
  height: 32px;
  padding: 6px 8px;
}
.input-search__button {
  all: unset;
  opacity: 0.7;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.input-search__button_search {
  background: url(./images/search.svg) no-repeat center;
  background-size: contain;
}
.input-search__button_filter {
  background: url(./images/filter.svg) no-repeat center;
  background-size: contain;
}

.input-search__input {
  flex: 1 1 auto;
  color: #abb1ba;
  outline: none;
  border: none;
}

.input-search__input::placeholder {
  color: #abb1ba;
}

/* @media (max-width: 400px) {
    width: 300px;
  } */
